@import url("../vendor/normilize.css");
@import url("../fonts/Inter/inter.css");
@import url("../blocks/header/header.css");
@import url("../blocks/lead/lead.css");
@import url("../blocks/intro/intro.css");
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/places/places.css");
@import url("../blocks/place/place.css");
@import url("../blocks/url/url.css");

* {
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
}

.page {
  min-width: 1184px;
  max-width: 1184px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
}