.additional__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 284px;
    height: 330px;
    border-radius: 5px;
    position: relative;
    padding: 30px 18px;
}

.additional__item:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../../images/Image-3.jpg");
}

.additional__item:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../../images/Image-2.jpg");
}

.additional__item:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../../images/Image-1.jpg");
}

.additional__item:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../../images/Image.jpg");
}
